body{
    background-color:rgb(206, 221, 255);
 }
 #TopBox {
        height: 450px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(https://wallpaper.forfun.com/fetch/c5/c5281a121f3a759b360df93b7397953c.jpeg);
        background-position: 0% 20%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: border-color 0.5s ease;
    }
    #BottomBox {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: border-color 0.5s ease;
    }
    #tamanho{
        width: 150px;
        height: 150px;
        background: url(https://olympics.com/_pr/topic-assets/paris-2024/emblem-oly.svg);
        background-repeat: no-repeat;
    }
    table {
        width: 600px;
        height: 200px;
        border-collapse: collapse;
        background-color: #ffffff;
        margin: 5px 0;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #e6e6e6;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #e0e0e0;
    }
    .img {
        max-width: 30px; 
        height: auto;
    }
    .newsSection {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
    .newsDiv {
        display: flex;
        width: 700px;
        margin: 20px 0;
    }
    .newsDiv img {
        width: 30%;
    }
    .newsDiv h5 {
        font-size: 20px;
        margin: 5px 5px;
    }
    .newsDiv p {
        font-size: 15px;
        color: rgb(0, 0, 0);
        margin: 0 10px;
    }
    a {
        text-decoration: none;
    }
   .buttonViewMore {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(241, 241, 241);
        border-radius: 10px;
        width: 80px;
        height: 20px;
        margin: 5px 10px;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        font-size: 16px;
     } 
     body {
        transition: background-color 0.5s ease;
    }
     @media (max-width:  440px){body{background-color: rgb(231, 203, 236);}}
     @media (min-width: 441px)(max-width:  760px){body{background-color: rgb(206, 221, 255);}}
     @media (min-width: 761px)  { body { background-color: rgb(95, 146, 118);}}